<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Nuova prenotazione</title>
</head>
<body>
    <div class="container">
        <h1>Vista di prova per la prenotazione</h1>
        <h2>SPORT PRATICABILI :</h2>
        <div>
            <ul th:each=" sport: ${sportPraticabili}">
                <li th:text="${sport.nome}">nome sport</li>
            </ul>
        </div>
        <h2>SPORT SELEZIONATO : <div th:text="${sportSelezionato}">sport selezionato</div> </h2>
        <h2>ID IMPIANTI DISPONIBILI :</h2>
        <div>
            <ul th:each=" impianto: ${impiantiDisponibili}">
                <li th:text="${impianto.idImpianto}">id impianto</li>
            </ul>
        </div>
    </div>
</body>
</html>
