<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Prenotazione Impianto</title>
<script type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/v4-shims.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    </head>
<body>
    <form >
    <div>
        <h2>Seleziona Sport</h2>
            
            <div th:each="sport : ${sportPraticabili}"  id="selezioneSport">
        <div class="form-check form-check-inline" >
            <label class="form-check-label" >
            <input type="radio" class="form-check-input" name="${sport.nome}" id="" value="${sport.nome}" checked>
            <div th:text="${sport.nome}">sport selezionabile</div>
          </label>
        </div>
    </div>
    </div>
    <div>
        <h2>Seleziona Impianto</h2>
        <select name="" id="selezioneImpianto" >
            <option th:each="impianto : ${impiantiDisponibili}" 
            th:value="${impianto.key}" 
            th:text="|${impianto.key} ${impianto.value}|"/>
        </select>
    </div>
<div>
    <h2>Invita sportivi alla prenotazione</h2>
    <select  id="invitaSportivi"  multiple="multiple" >
        <option th:each="sportivo : ${sportiviIscrittiPolisportiva}" th:value="${sportivo.email}" th:text="|${sportivo.nome} ${sportivo.cognome}  ${sportivo.email}|"/>
    </select>
</div>
<input type="submit" value="Conferma prenotazione">
<input type="reset"  value="Reset opzioni">
</form>
</body>
</html>
