<!DOCTYPE html>
<html>
  <head>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  
  </head>
  <body>
    <div th:fragment="formPrenotaImpianto">
      <label for="">PRENOTAZIONE IMPIANTO</label>
      <div class="container">
        <form
          th:action="@{/prenotazione/confermaPrenotazione}"
          th:object="${formPrenotaImpianto}"
          method="POST"
        >
          <div class="container form-group border border-dark rounded">
            <label for="">Seleziona Sport</label>
            <div class="row">
              <div class="col-sm">
            <div
              th:each="sport : ${sportPraticabili}"
              class="form-check col-sm col-4"
              onchange="aggiornaImpiantiDisponibili()"
            >
              <label class="form-check-label">
                <input
                  th:field="*{sportSelezionato}"
                  type="radio"
                  class="form-check-input"
                  name="sportPraticabile"
                  id=""
                  th:value="${sport.nome}"
                  checked
                />
                <div th:text="${sport.nome}">nome sport</div>
              </label>
            </div>
          </div>
            <div class="col-sm">Posti liberi: <span th:text="10"></span></div>
          </div>
          </div>

          <div
            class="container border border-dark rounded"
            th:fragment="dataOraSelezione"
          >
            <div class="row">
              <div class="col-sm" th>
                <label for="start">Data Prenotazione:</label>

                <input
                  th:field="*{dataPrenotazione}"
                  type="date"
                  id="start"
                  name="trip-start"
                  value="2021-03-24"
                  min="2021-03-24"
                  max="2021-12-31"
                />
              </div>

              <div class="col-sm">
                <label for="start">Orario Inizio Prenotazione:</label>
                <input
                  id="timepickerInizio"
                  class="timepicker"
                  th:field="*{oraInizio}"
                />
              </div>
              <div id="inputFine" class="col-sm">
                <label for="start">Orario Fine Prenotazione:</label>
                <input
                  id="timepickerFine"
                  class="timepicker"
                  th:field="*{oraFine}"
                />
              </div>
            </div>
          </div>
          <div class="container form-group border border-dark rounded">
            <label for="">Seleziona impianto</label>
            <select
              class="form-control"
              name=""
              id="selezioneImpianto"
              th:field="*{impianto}"
            >
              <option
                th:each="impiantoDisponibile : ${impiantiDisponibili}"
                th:value="${impiantoDisponibile.key}"
                th:text="|${impiantoDisponibile.key} ${impiantoDisponibile.value}|"
              />
            </select>
          </div>
          <div class="container form-group border border-dark rounded">
            <label for="">Invita sportivi alla prenotazione</label>
            <select
              multiple
              class="form-control selectpicker"
              data-live-search="true"
              name=""
              id="invitaSportivi"
              th:field="*{sportiviInvitati}"
            >
              <option
                th:each="sportivo : ${sportiviIscrittiPolisportiva}"
                th:value="${sportivo.email}"
                th:text="|${sportivo.nome} ${sportivo.cognome}|"
              />
            </select>
          </div>
          <div class="container">
            <input type="submit" value="Conferma prenotazione" />
          </div>
        </form>
      </div>
    </div>

    <script
      src="js/dataOraSelezione.js"
      th:fragment="dataOraSelezioneFooter"
    ></script>
  </body>
</html>
